body {
    overflow-x: hidden;
}

#lancarVotacao {
    margin-bottom: 10px;
    background-color: #ff2f00;
    color: #0F1012;
}

#lancarVotacao:hover {
    background-color: #dddddd;
    color: #000;
}

#votTitulo h3 {
    font-weight: bold;
}

#numVotos {
    padding: 6px;
    border-radius: 8px;
    background-color: #ff2f00;
    font-weight: bold;
}

#contagemVotos {
    margin-top: 20px;
    margin-bottom: 20px
}

.divVotTitulo {
    margin-bottom: 20px;
}