dialog{
    border-radius:8px;
    border:none;
    box-shadow:0 0 1em rgb(0 0 0 / .5);
    margin: 0 auto 0 auto  ;
    margin-top: 10%;
}
thead, tbody,dialog div{
    text-align: center;
}
.tabelaHistGraf{
    width: 600px;
}
@media (max-width: 767.98px){
    .tabelaHistGraf{
        width: 350px;
    }
}