main#conteudo h1#teste{
    font-family: "Poppins", sans-serif;
    font-size: 2em;
}
main{
    padding: 20px;
}
body{
    min-height: 100vh;
    background-color: #e3e9f7;
    display: flex;
}
a{
    text-decoration: none;
}
a i{
    color: #000;
}
#navAdm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 15px 15px 0;
    height: 100vh;
    position: relative;
}
#navItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 10px;
}
#navItem{
    padding: 14px;
    cursor: pointer;
    border-radius: 8px;
}
span{
    color:#000;
}
#navItem.active{
    background-color: #ff2f00;
} 
#navItem:hover:not(.active), #logoutButton:hover{
    background-color: #e3e9f7;
}
#navitem a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navitem a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
#logoutButton{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}
#buttonOpenClosed{
    position: absolute;
    top:30px;
    right: -10px;
    background-color: #ff2f00;
    color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
}
#navItem .spanDescription{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}